[Desktop Entry]
Version=1.0
Name=FreeOrion
GenericName=Turn-based space game
Comment=The FreeOrion client
Comment[de]=Der FreeOrion Client
Exec=freeorion
TryExec=freeorion
Icon=freeorion
StartupNotify=false
Terminal=true
Type=Application
Categories=Game;StrategyGame;
URL=http://www.freeorion.org
